# User Testing Report

User testing was conducted by Tirzah Wood on October 22nd 2013 between the times of 3:10pm and 3:35pm with the following participants:

- Kathryn Hallett
- Jenny Richardson
- Grace Morton

## Tasks

1. Find out what the being of the week is
2. Find articles about supernatural beings
3. Find the list of supernatural beings

---

## Individual Results & Observations

### Kathryn Hallett

- First task was easy peasy lemon squeezy
- Second task was easy and clear and Kathryn got right away 
- Third task was easy and straight forward, simple.
- She clicked on the links as expected and there were no complications



### Jenny Richardson

- Easy and no scrolling 
- Second task had some trouble finding articles
- Third task was also easy
- Did everything as expected and although the articles page might need to be more obvious
- found all the buttons easily except for the articles page, but states that it was due to the way that I worded my question


### Grace Morton

- Really obvious and clear
- Had some trouble finding articles
- Maybe being should be types of beings.
- Third task was easy and was really understandable
- Found all the buttons easily except for the articles page, but states that it was due to the way that I worded my question



---

## Trends

### Critical, Needs Fixing, Unable to Complete

- There was nothing critically wrong with the website just minor communication problems


### Serious, Causes Frustration, May Hinder Completion

- There was no real serious frustrations that I feel need to be fixed right away just some things that I might have to consider to make it easier to navigate through.


### Minor, Annoying, Won’t Hinder Completion

- Two of the participants had some trouble find the article page, I fell that it might have been to the way that I worded the question. or maybe I need to fix the nav so that it makes more sense
