@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

@charset "UTF-8";
/* CSS Document */
.skiplinks {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 3000;
	
	
	font-size: 1.25rem;
	font-weight: bold;
	list-style-type: none;
}


.skiplinks a,
.skiplinks a:link,
.skiplinks a:visited {
	padding: 0.75em 1em;
	position:absolute;
	top: -10em;
	
	background-color: #000;
	
	color:#fff;
	text-decoration:none;
	
}

.skiplinks a:focus {
	top: 0;
}

a
a:link,
a:visited {
	outline: none;	
}

a:hover,
a:active {
	outline: none;
}

a:focus {
	outline: 3px solid #000;
}


a:link { 
	color:#000000; 
	text-decoration:none; } 
a:visited {
	color:#000000; } 
a:hover { 
	color:#F90; } 
a:active {
	color:#000000; }

html {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	
	background-image: url(../img/sprinkles.png);
	background-repeat:repeat;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.logo{
	width: 100%;
	display:inline-block;
}

header {
	display: block;
	background-color: rgba(255, 255, 255, 0.45);
	margin: 0;
	padding: 0;
	text-align: center;
	
}

nav {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	text-align: center;
	
	
}

nav a {
	margin: 0;
	display: inline-block;
	text-align:center;
	padding-top: 1.5em;
	padding-bottom: .8em;
	min-height: 100%;
	max-height: 100%;
}


nav a:link,
nav a:visited {
	min-height: 100%;
	min-width: 100%;
	color:#582B12;
}
	

nav a:hover,
nav a:focus {
	color:#BFA26E;
}
nav a:active {
	color:#582B12;
}

nav a.selected {
	color:#C91316;
}

nav h1 {
	display:inline-block;
	margin: 0;
	padding: 0;
	text-align:center;
}
p {
	font-size: 0.8em;
	color:#582B12;
	padding-bottom: 15px;
}

.caption {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 0.3 em;
	color: #000000;
}

h1 {
	color:#8A181A;
	font-size: 1em;
}


.bucket-1 {
	display:inline-block;
	width:100%;
	}

.h2{
	font-size: 1.3em;
	color:#582B12;
	margin:0;
	padding-bottom: 0.5em;
}
h2{
	font-size: 1.3em;
	color:#582B12;
	margin:0;
	padding-bottom: 0.5em;
}


.flex-img {
	display: inline-block;
	width: 100%;
	padding-bottom: 1em;
}

.article {
	padding: 0;
	margin: 0;
}
.article-text p {
	margin: 0;
	
	
	
}

.sub-menu {
	text-align: center;
	display: block;
	margin: 0;
	
}
.sub-menu a {
	padding: .5em 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}


.sub-menu a:link,
.sub-menu a:visited {
	text-decoration: none;
	color: #FFF;
	background-color: #D6B785;
	
}

.sub-menu a:hover,
.sub-menu a:focus {
	background-color:#582B12;
}

.sub-menu a:active {
	color: #000;
	background-color:#D6B785; 
}

.sub-menu .selected {
	background-color: #D6B785; 
}


footer {
	font-size: 13px;
	
	border-top:solid 1px #582B12;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 2em;
}

.button-1 {

	background-color:#BFA26E;
	
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	display:inline-block;
	
	color:#BFA26E;
	
	font-size:15px;
	font-style:normal;
	padding: .45em;
	margin-top: .5em;
	text-decoration:none;
	text-align:center;

}.button-1:hover {
	background-color:#582B12;
	color:#BFA26E;
}.button-1:active {
	background-color:#ccc;
	color: #582B12;
	position:relative;
	top:1px;
}

@media only screen and (min-width: 25em) {

	nav a {
	margin: 0;
	display: inline-block;
	text-align:center;
	}
	
	

	h1 {
		font-size: 1.3em;
	}
	
}

@media only screen and (min-width: 35em) {

	p {
		font-size: 1.1em;
		margin-right: 1.5em;
		margin-left: 1.5em;
	}
	nav {
		font-size: 1.5em;
	}
	h1 {
		margin-left: 1.2em;
		font-size:1.9em;
	}
}
@media only screen and (min-width: 60em) {

	.section-1 {
		margin-right: 2em;
		margin-left: 2em;
	}
	
	p {
		font-size: 1.1em;
		margin-right: 9em;
		margin-left: 1.5em;
	}
	
}

@media only screen and (min-width: 80em) {
	
	p {
		font-size: 1.5em;
	}
	
	nav {
		font-size: 1.7em;
	}

	.bucket-1 {
		padding-top: 0;
	}
		
}
