<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>404 Page</title>

	<!-- Facebook -->
<meta property="og:type" content"article">
<meta property="og:title" content"Supernatural Beings -- All Supernatural Beings known and unknown; Ottawa Canada">
<meta property="og:url" content"http://supernaturalbeings.com/to-this/article.html">
<meta property="og:image" content"http://supernaturalbeings.com/img/thing.jpg">
<!--Image size: minimum 200x200; recommended 1500x1500 -->
<meta property="og:descrciption" content"All Supernatural Beings known and unknown">
<meta property="og:site_name" content"Name of the Website/Company">

<!-- Twiiter-->
<meta property="twitter:card" content"summary">
<meta property="twitter:title" content"Supernatural Beings">
<meta property="twitter:url" content"http://supernaturalbeings.com/to-this/article.html">
<meta property="twitter:image" content"http://supernaturalbeings.com/img/thing.jpg">
<!--Image size: 120x120; -->
<meta property="twitter:descrciption" content"All Supernatural Beings known and unknown">

<link href="_includes/css/general.css" rel="stylesheet">
<link href="_includes/css/grid.css" rel="stylesheet"> 
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
<meta charset="UTF-8">
</head>

<body id="top">
	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#complementary">Skip to secondary</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>

	<header class="grid" role="banner">
		<nav class="unit unit-s-1 unit-m-1-3 unit-l-1-4">
			<div class="unit-spacer">
				<img src="img/logo.png" class="logo" alt="This is a logo for supernatural beings website">
			</div>
		</nav>
		<nav role="navigation" id="navigation" class="unit unit-s-1 unit-m-2-3 unit-l-3-4">
			<div class="grid">
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="{{site.baseurl}}/index.html" class="{% if page.url contains 'index' %}selected{% endif %}">Home</a></div>
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="{{site.baseurl}}/beings.html" class="{% if page.url contains 'beings' %}selected{% endif %}">Beings</a></div>
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="{{site.baseurl}}/article.html" class="{% if page.url contains 'article' %}selected{% endif %}">Articles</a></div>
			</div>
		</nav>
	</header>
	
	<div class="image">
		<img src="img/404-art.png" class="flex-img" alt="404 image">	<div class="text">
		<h3>Boo!<br> Sorry this page is haunted and does not exist. Please go back or go to a new link</h3>
	</div>
</div>
	
</body>	