<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Supernatural Beings -- All Supernatural Beings known and unknown; Ottawa Canada</title>

	<!-- Facebook -->
<meta property="og:type" content"article">
<meta property="og:title" content"Supernatural Beings <title>">
<meta property="og:url" content"http://supernaturalbeings.com/to-this/article.html">
<meta property="og:image" content"http://supernaturalbeings.com/img/thing.jpg">
<!--Image size: minimum 200x200; recommended 1500x1500 -->
<meta property="og:descrciption" content" All Supernatural Beings known and unknown">
<meta property="og:site_name" content"Name of the Website/Company">

<!-- Twiiter-->
<meta property="twitter:card" content"summary">
<meta property="twitter:title" content"Supernatural Beings">
<meta property="twitter:url" content"http://supernaturalbeings.com/to-this/article.html">
<meta property="twitter:image" content"http://supernaturalbeings.com/img/thing.jpg">
<!--Image size: 120x120; -->
<meta property="twitter:descrciption" content" All Supernatural Beings known and unknown">

<link href="css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width;initial-scale=1">
<meta charset="UTF-8">
</head>

<body>

	<header class="grid">
		<nav class="unit unit-s-1 unit-m-1-3 unit-l-1-4">
			<div class="unit-spacer">
				<img src="img/logo.png" class="logo">
			</div>
		</nav>
		<nav class="unit unit-s-1 unit-m-2-3 unit-l-3-4">
			<div class="grid">
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="index.html">Home</a></div>
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="beings.html">Beings</a></div>
				<div class="unit unit-s-1-3 unit-m-1-3 unit-l-1-3"><a href="article.html">Articles</a></div>
			</div>
		</nav>
	</header>

{{content}}
	
	<footer>
		<div class="unit-spacer">
			© tirzah wood 2013
		</div>
	</footer>

</body>
</html>
